@media (max-width:1220px) {
    .header__nav{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .header__logo{
        margin-top: 20px;
        margin-bottom: 20px;
    }
    .main__menu-box{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .main_collection{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .main_collection-item{
        margin-bottom: 60px;
    }
    .main_collection-img{
        max-width: 600px;
        margin-top: 40px;
    }
    .main__menu-img{
        max-width: 665px;
        width: 100%;
    }
    .main__menu_item-text{
        max-width: 560px;
        width: 100%;
    }
    .main__menu_item-btn{
        max-width: 530px;
        width: 100%;
    }
    .main__text{
        max-width: 870px;
        width: 100%;
    }
    .cafe__plan{
        width: 100%;
        min-height: 575px;
        padding-bottom: 30px;
        padding-top: 60px;
    }
    .cafe__plan-item{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .cafe__plan-item-title{
        margin-top: 20px;
        margin-bottom: 20px;
    }
    .main__collection-img1{
        max-width: 600px;
        width: 100%;
    }
    .main_collection-img{
        max-width: 600px;
        width: 100%;
    }
}